---
import Layout from "../layouts/Layout.astro";
import Definition from "../components/Definition.astro";
import InlineMath from "../components/InlineMath.astro";
import DisplayMath from "../components/DisplayMath.astro";
import Para from "../components/Para.astro";
import Gather from "../components/Gather.astro";
import Align from "../components/Align.astro";
import Remark from "../components/Remark.astro";
import Proof from "../components/Proof.astro";
import Proposition from "../components/Proposition.astro";

var counter = 1;
function getAndIncrement() {
  return counter++;
}
---

<Layout title="Welcome to Astro.">
  <Definition num={getAndIncrement()}>
    The solutions to <InlineMath str={String.raw`ax^2 + bx + c = 0`} /> are:
    <DisplayMath str={String.raw`x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}`} />
     This is an equation environment:
    <DisplayMath
      str={String.raw`\begin{equation*} x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} \end{equation*}`}
    />
  </Definition>

   This is a gather environment:
  <Gather str={String.raw`a+b \\ c+d`} />

   This is an align environment:
  <Align str={String.raw`a+&b \\ c&+d`} />

  <h1>the derivative</h1>

  <h2>partial, directional derivatives</h2>

  <Para num={getAndIncrement()}>
    The goal is to understand a function by knowing how it varies with each
    variable.
  </Para>

  <Definition num={getAndIncrement()}>
    Consider a function <InlineMath
      str={String.raw` f:U \subset \mathbb{ R } \to \mathbb{ R } `}
    /> , where <InlineMath str={String.raw` U \subset \mathbb{ R } `} /> is
    open. Let <InlineMath str={String.raw` a \in  U `} /> . For <InlineMath
      str={String.raw` j=1,  \dots, n `}
    /> , define
    <DisplayMath
      str={String.raw`\frac{\partial  f }{\partial  x _ j }  (a) = D _ jf(a) =  \lim _{ t \to  0 }\frac{ f(a+te _ j)-f(a) }{ t } `}
    />
     provided this limit exists.
  </Definition>

  <Para num={getAndIncrement()}>
    The partial derivatives are measuring rate of change along the coordinate
    axes <InlineMath str={String.raw` e _ j `} /> . We can generalize the above
    definition to an arbitrary direction (vector!) <InlineMath
      str={String.raw` v `}
    /> :
  </Para>

  <Definition num={getAndIncrement()}>
    Let <InlineMath
      str={String.raw` f:U \subset \mathbb{ R } \to \mathbb{ R } `}
    /> , where <InlineMath str={String.raw` U \subset \mathbb{ R } `} /> is
    open. Let <InlineMath str={String.raw` a \in  U `} /> . For a nonzero <InlineMath
      str={String.raw` v \in \mathbb{ R } `}
    /> , define the directional derivative of <InlineMath
      str={String.raw` f `}
    /> at <InlineMath str={String.raw` a `} /> in the direction of <InlineMath
      str={String.raw` v `}
    /> to be
    <DisplayMath
      str={String.raw` D _ vf(a) =  \lim _{ t \to  0 }\frac{ f(a+tv)-f(a) }{ t } `}
    />
     provided this limit exists.
  </Definition>

  <Remark num={getAndIncrement()}>
    <InlineMath
      str={String.raw` D _ j f(a) =  \frac{\partial  f }{\partial  x _ j }  (a) = D _{ e _ j } f(a) `}
    /> .
  </Remark>

  <Para num={getAndIncrement()}>
    The directional derivative depends not only on the direction of <InlineMath
      str={String.raw` v `}
    /> , but also the magnitude of <InlineMath str={String.raw` v `} /> :
  </Para>

  <Proposition num={getAndIncrement()}>
    <InlineMath str={String.raw` D _{ cv } f(a) = cD _ vf(a) `} /> .
  </Proposition>

  <Proof>
    <Align
      str={String.raw` D _{ cv } f(a) =&  \lim _{ t \to  0 }\frac{ f(a+tv) - f(a) }{ t }  = c \lim _{ t \to  0 }\frac{ f(a+tv) - f(a) }{ ct }  \\  =& c \lim _{ s \to  0 }\frac{ f(a+sv) - f(a) }{ s }  = c D _ vf(a).
	`}
    />
  </Proof>

  <Remark num={getAndIncrement()}>
    So <InlineMath str={String.raw` D _ vf(a) `} /> is not merely the
    instantaneous rate of change by an observer at <InlineMath
      str={String.raw` a `}
    /> in the direction of <InlineMath str={String.raw` v `} /> , but perhaps
    the instantaneous rate of change of an observer at <InlineMath
      str={String.raw` a `}
    /> moving with velocity <InlineMath str={String.raw` v `} /> (not only the
    direction of the observer matters, but also their speed).
  </Remark>

  <Remark num={getAndIncrement()}>
    In cases where <InlineMath
      str={String.raw` f:U \subset \mathbb{ R } \to \mathbb{ R } `}
    /> consists of functions we can easily differentiate using single-variable
    calculus rules, the following substitution can help in computing the <InlineMath
      str={String.raw` D _ vf(a) `}
    /> :
    <Gather
      str={String.raw` \phi:  \mathbb{ R } \to \mathbb{ R }  \\  t  \mapsto  f(a+tv).
	`}
    />
     Then
    <DisplayMath
      str={String.raw` D _ vf(a) =  \lim _{ t \to  0 }\frac{ f(a+tv)-f(a) }{ t }  =  \lim _{ t \to  0 }\frac{ \phi(t)-  \phi(0) }{ t }  =   \phi'(0).
	`}
    />
  </Remark>
</Layout>
